APP_NAME="MPP Laravel Example"
APP_ENV=local
APP_KEY=base64:AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA=
APP_DEBUG=true
APP_URL=http://127.0.0.1:4567

LOG_CHANNEL=stderr

MPP_SECRET=local-dev-secret
MPP_REALM="PHP Laravel example"
MPP_RECIPIENT=CXhrFZJLKqjzmP3sjYLcF4dTeXWKCy9e2SXXZ2Yo6MPY
MPP_AMOUNT=1000
MPP_CURRENCY=USDC
MPP_NETWORK=localnet
MPP_RPC_URL=https://402.surfnet.dev:8899
